@import '~@s-ui/theme/lib/index';
@import '~@adv-ui/ma-theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index.scss';

body {
  padding: 0;
  margin: 0;
}

.main {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: solid $bdw-s $c-gray-light-3;
}
.logo {
  margin: $m-l;
}
.actions {
  position: absolute;
  right: $m-l;
  align-items: center;
  display: flex;
}
