@import '~@s-ui/theme/lib/index';
@import '~@adv-ui/ma-theme/lib/index';
@import '~@s-ui/react-atom-button/lib/index.scss';
@import '~@s-ui/react-atom-popover/lib/index.scss';
@import '~@s-ui/react-atom-icon/lib/index.scss';

body {
  padding: 0;
  margin: 0;
  background: $c-gray-light-4;
  font-family: $ff-rubik;
}

.main {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: $c-white;
}
.logo {
  margin: $m-l;
}
.actions {
  position: absolute;
  right: $m-l;
  align-items: center;
  display: flex;
}

.navigation-menu {
  // this one below is just for prototyping, should be changed in Milanuncios Theme
  .sui-AtomButton + .sui-AtomButton {
    margin-left: 0px;
  }
  ul {
    color: $c-gray-dark-3;
    @include reset-list;
    font-size: $fz-m;
    text-align: left;
    li {
      cursor: default;
      &:hover {
        background-color: $c-gray-light-4;
      }
      height: 32px;
      display: flex;
      align-items: center;
      padding: $p-m $p-l;
      padding: $p-s $p-m;
      margin: $p-m;
      border-radius: $bdrs-base/2;
      .label {
        margin-left: $m-m;
      }
      &.publica {
        background: $c-accent;
        &:hover {
          background: $c-accent-light-4;
        }
      }
    }
  }
}

.drawer{
  position: absolute;
  display: flex;

  background: $c-white;
  height: 100vh;
  top: 64px;
  right: -242px;
  &.open{
    right: 0px;
  }
}

// these changes below are just for prototyping, should be changed in Milanuncios Theme
.sui-AtomPopover .sui-AtomPopover-inner {
  padding: 0;
  border: 0;
}
