@import '~@s-ui/theme/lib/index.scss';
@import '~@adv-ui/ma-theme/lib/index.scss';
@import '~@s-ui/react-atom-button/lib/index.scss';
@import '~@s-ui/react-atom-popover/lib/index.scss';
@import '~@s-ui/react-atom-icon/lib/index.scss';
@import '../styles/navBar.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
ul {
  @include reset-list;
}
$c-text-playground: rgba(255, 255, 255, 0.8);
$c-yellow-playground: #f8bd11;
$base-spacing: 8px;
.home {
  &-navigation {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    color: white;
    h1 {
      text-align: center;
      margin: $base-spacing * 10;
      font-weight: 200;
      font-size: 18px;
      color: $c-text-playground;
      letter-spacing: 2px;
    }
  }
  ul {
    li {
      margin: $base-spacing * 2 auto;
      cursor: default;
      list-style: none;
      width: fit-content;
      display: flex;
      align-items: center;
      background-color: $c-yellow-playground;
      max-width: $base-spacing * 50;
      &:hover {
        background-color: transparent;
        box-shadow: inset 0 0 0 1px $c-yellow-playground;
      }
      // height: 48px;
      border-radius: 999px;
      a {
        width: 100%;
        padding: $base-spacing $base-spacing * 2;
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        letter-spacing: 2px;
        color: black;
        font-weight: 300;
        &:hover {
          color: $c-yellow-playground;
        }
      }
    }
  }

  overflow: hidden;
  background: #141821;
  min-height: 100vh;
}
