@import '~@s-ui/theme/lib/index.scss';
@import '~@adv-ui/ma-theme/lib/index.scss';
@import '~@s-ui/react-atom-button/lib/index.scss';
@import '~@s-ui/react-atom-popover/lib/index.scss';
@import '~@s-ui/react-atom-icon/lib/index.scss';
@import '~@s-ui/react-molecule-avatar/lib/index';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$c-text-playground: rgba(255, 255, 255, 0.8);
$c-pill-playground: #bb0083;
$base-spacing: 8px;

html {
  background: linear-gradient(145deg, #030013 0%, #020024 65%, #10015a 100%);
}
html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.pop {
  @keyframes pop {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  animation-name: pop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fade {
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  @include reset-list;
}

.home {
  &-navigation {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    color: white;
    h1 {
      text-align: center;
      margin: $base-spacing * 10;
      font-weight: 200;
      font-size: 18px;
      color: $c-text-playground;
      letter-spacing: 2px;
      text-transform: uppercase;
      a {
        display: block;
        font-size: 12px;
        text-decoration: underline;
        margin-top: $base-spacing;
        letter-spacing: initial;
        font-weight: normal;
      }
    }
  }
  ul {
    li {
      margin: $base-spacing * 2 auto;
      cursor: default;
      list-style: none;
      width: fit-content;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 0 24px $c-pill-playground;
      max-width: $base-spacing * 50;
      border-radius: 999px;
      a {
        width: 100%;
        padding: $base-spacing $base-spacing * 1.5;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        letter-spacing: 1px;
        color: white;
        font-weight: 300;
        border-radius: 999px;
      }
    }
  }

  overflow: hidden;
  background: transparent;
  min-height: 100vh;
}

.App_1 {
  // gray background + rubik
  padding: 0;
  margin: 0;
  background: $c-gray-light-4;
}

.main_992 {
  max-width: 992px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-fullWidth {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.invisible_When_Mobile{
  display: none;
}

@media (min-width: 992px) {
  .MA_current_Desktop{
    display: block;
    padding: $p-base * 2;
    background: $c-white;
    img{
      width: 100%;
    }
  }
}

@media (hover: hover) {
  .home-navigation {
    ul li:hover {
      @keyframes tagHover {
        from {
          box-shadow: inset 0 0 0 24px white;
        }
        to {
          box-shadow: inset 0 0 0 2px white;
        }
      }
      animation-name: tagHover;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

// these changes below are just for prototyping, should be changed in Milanuncios Theme
.sui-AtomPopover .sui-AtomPopover-inner {
  padding: 0;
  border: 0;
}

.sui-MoleculeAvatar--small{
  width: 24px;
    min-width: 24px;
    height: 24px;
};
.sui-MoleculeAvatar--medium{
  width: 40px;
    min-width: 40px;
    height: 40px;
};