.App {
  padding: 0;
  margin: 0;
  background: $c-gray-light-4;
  font-family: $ff-rubik;
}

.main {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: $c-white;
}
.logo {
  margin: $m-l;
}
.actions {
  position: absolute;
  right: $m-l;
  align-items: center;
  display: flex;
}

.navigation-menu {
  // this one below is just for prototyping, should be changed in Milanuncios Theme
  .sui-AtomButton + .sui-AtomButton {
    margin-left: 0px;
  }
  ul {
    color: $c-gray-dark-3;
    @include reset-list;
    font-size: $fz-m;
    text-align: left;
    li {
      cursor: default;
      &:hover {
        background-color: $c-gray-light-4;
      }
      height: 32px;
      display: flex;
      align-items: center;
      padding: $p-m $p-l;
      padding: $p-s $p-m;
      margin: $p-m;
      border-radius: $bdrs-base/2;
      .label {
        margin-left: $m-m;
      }
      &.publica {
        background: $c-accent;
        &:hover {
          background: $c-accent-light-4;
        }
      }
    }
  }
}

.drawer {
  @keyframes open {
    from {
      right: -224px;
    }
    to {
      right: 0;
    }
  }
  @keyframes close {
    from {
      right: 0;
    }
    to {
      right: -224px;
    }
  }
  width: 224px;
  position: absolute;
  display: flex;
  flex-direction: column;
  background: $c-white;
  height: 100vh;
  top: 64px;
  animation-name: close;
  animation-duration: 0.5s;
  right: -224px;
  &.open {
    animation-name: open;
    animation-duration: 0.5s;
    right: 0;
  }
}

// these changes below are just for prototyping, should be changed in Milanuncios Theme
.sui-AtomPopover .sui-AtomPopover-inner {
  padding: 0;
  border: 0;
}
